.banner {
    background-image: url(../images/AdobeStock_294310625.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    /*vertical-align: middle;
    line-height: 550px;*/
    font-weight: bold;
    color: white;
    flex: 0 0 120px;

}

i {
    transition: transform .2s;
}

i:hover {
    transform: scale(1.5);
}

.tiny:before {
    background-image: url(../images/tiny.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*    filter: hue-rotate(45deg);*/
    width: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
